:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fondo: #40CFFF;
}
/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
}
/** Scroll Snap**/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 17px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, rgb(228, 23, 23) 0%, #40CFFF 100%);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
img{
    max-width: 100%;
    min-height: 100%;
    filter: drop-shadow(10px 10px 0px blue);
}
.logotipo1{
    display: grid;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
 }
.logotipo{
   width: 400px;
   margin-left: auto;
   margin-right: auto;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    font-size: 3.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    font-size: 2.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: red;
}
h1,h2 {
    text-align: center;
}
/* Titulos */
.titulo{
    text-align: center;
    color: rgb(228, 23, 23);
    font-size: 6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    filter: drop-shadow(20px 20px 3px black);
}
.titulo span {
    font-size: 2rem;
    color: white;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* Navegacion Principal */
.nav-bg {
    background-color: black;
    padding: 2rem;

}
.navegacion-principal {

    display: flex;
    flex-direction: column;


}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: spdace-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/* Hero */
.hero {
    background-image: url(../img/6617-788x526.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 50% );
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}
.logo{
    height: 10px;
}


/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: blak;
    font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: left;
}
.servicio .iconos1 {
    height: 15rem;
    width: 15rem;
    background-color:black;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(10px 10px 0px gold);
}
.servicio .iconos2 {
    height: 15rem;
    width: 15rem;
    background-color:black;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(10px 10px 0px rgb(25, 187, 199));
}
.servicio .iconos3 {
    height: 15rem;
    width: 15rem;
    background-color:black;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(10px 10px 0px rgb(199, 30, 123));
}

/** Contacto **/
.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/** Footer **/
.footer {
    text-align: center;
}
/**Marco legal adove illustrator
marco conceptual adove illusrator, Historia**/